nav {
  a {
    &:not(.active) {
      @apply text-slate-400;
    }
    &.active {
      @apply text-slate-50;
    }
  }
}

// ----------------------[tags in page]
.tags {
  position: absolute;
  opacity: 0.3;
  user-select: none;

  * {
    position: absolute;
    font-family: "La Belle Aurore", sans-serif;
  }

  &-top {
    top: 35px;

    &-body {
      margin-left: 10px;
    }
  }

  &-bottom {
    top: 90%;

    &-body {
      margin-left: 10px;
    }
  }
}

// ----------------------[tags in page]
